.video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}
.uppercase {
    text-transform: uppercase;
    font-size: 59px;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: 0 0;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    outline: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="text"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
}
input[type="button"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input[type="number"] {
    -moz-appearance: textfield;
}
ol,
ul {
    list-style: none;
}
blockquote {
    quotes: none;
}
blockquote:after,
blockquote:before {
    content: "";
    content: none;
}
del {
    text-decoration: line-through;
}
address,
article,
aside,
footer,
header,
nav,
section {
    display: block;
}
body {
    font-family: whitney-reqular;
    font-size: 17px;
    color: #000;
    overflow-x: hidden;
    min-width: 320px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
body::-webkit-scrollbar {
    display: none;
}
input,
select,
textarea {
    font-family: whitney-reqular;
}
html {
    overflow: scroll !important;
    scroll-behavior: smooth !important;
}
html.modal-enabled {
    overflow: hidden !important;
}
a {
    color: #444;
}
.submit:hover,
a:hover {
    -moz-opacity: 0.85;
    -khtml-opacity: 0.85;
    opacity: 0.85;
}
.thumb {
    display: block;
}
.thumb img {
    display: block;
    width: 100%;
}
p {
    line-height: 1.6em;
    font-size: 16px;
    color: #868686;
    font-family: whitney-reqular;
}
.hidden {
    display: none;
}
br.clear {
    clear: both;
    line-height: 0;
}
.bold {
    font-family: whitney-bold;
}
.e-t-h {
    margin-bottom: 25px;
}
.e-t-h2 {
    font-size: 37px;
    color: #444;
    font-family: whitney-bold;
    letter-spacing: 0.02rem;
}
.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1325px;
}
.b-regular {
    font-family: whitney-reqular;
}
.b-medium {
    font-family: whitney-medium;
}
.b-semi {
    font-family: whitney-semibold;
}
.white {
    color: #fff;
}
.black {
    color: #000;
}
a,
h1,
h2,
input {
    font-family: whitney-reqular;
    color: #000;
}
input::-webkit-input-placeholder {
    color: #9b9a9a;
}
input:-moz-placeholder {
    color: #9b9a9a;
}
@font-face {
    font-display: auto;
    font-family: whitney-light;
    src: url(../src//assets/fonts/light) format("woff2");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-display: auto;
    font-family: whitney-reqular;
    src: url(../src//assets/fonts/reqular) format("woff2");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-display: auto;
    font-family: whitney-medium;
    src: url(../src//assets/fonts/medium) format("woff2");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-display: auto;
    font-family: whitney-semibold;
    src: url(../src//assets/fonts/semibold) format("woff2");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-display: auto;
    font-family: whitney-bold;
    src: url(../src//assets/fonts/bold) format("woff2");
    font-weight: 400;
    font-style: normal;
}
